iframe {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

button {
  position: fixed;
  left: 50px;
  top: 30px;
  z-index: 999;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}